footer {
  width: 100%;
  position: absolute;

  left: 0;
  padding: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogoFooter {
  height: 80px;
  margin-bottom: 1rem;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-image: url(../multi/social/instagram.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
  &:hover {
    background-color: #121211;
    filter: invert(1);
  }
}

.social-icon:nth-of-type(2) {
  background-image: url(../multi/social/youtube.png);
}
.social-icon:nth-of-type(3) {
  background-image: url(../multi/social/linkedin.png);
}
.social-icon:nth-of-type(4) {
  background-image: url(../multi/social/github.png);
}

.footer-menu-container {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}
