header {
  background-color: rgb(30, 30, 30);
  .logo {
    margin: 0;
    padding: 25px;
    color: red;
    width: 200px;
    &:hover {
      transform: scale(1.2);
    }
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    a {
      font-size: 1.5em;
      padding: 5px 12px;
      text-decoration: none;
      color: white;
      &:hover {
        color: red;
        transform: scale(1.2);
      }
    }
  }
}
