@import "header";
@import "inicio";
@import "conocenos";
@import "productos";
@import "soporte";
@import "trabajaConNosotros";
@import "footer";
@import "mediaQuerries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  nav {
    font-family: "Bebas Neue", sans-serif;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.7em;
    padding: 20px;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.25em;
  }
  ul {
    list-style: none;
  }
}
